<%- include('partials/header') -%>

<main class="container ">
    <div class="row justify-content-around mt-5 flex items-center justify-center h-96 bg-slate-300  ">
        <h1 class="flex items-center justify-center">Buying/selling made easy.</h1>
        <a href="/login" class="col-3 btn btn-primary bg-cyan-500 "> Login</a>
        <a href="/signup" class="col-3 btn btn-primary"> Signup</a>
    </div>
</main>
    

<%- include('partials/footer') -%>